.float-in-animation {
    display: flex;
    bleed: 0;
    margin: 0;
    padding: 0;
}

.img-space {
    width: 100vw;
    height: 100vh;
}

.img-astronaut {
    position: absolute;
    display: flex;
    height: 45vh;
    top: 25%;
    left: 35%;
    animation: fadeIn 3s;
}

.company-name {
    position: absolute;
    display: flex;
    font-size: 10vh;
    color: red;
    top: 35%;
    left: 20%;
    animation: fadeIn 2s;

}

.enter-button {
    position: absolute;
    display: flex;
    font-size: 6vh;
    padding: none;
    color: black;
    box-sizing: border-box;
    border: 1px solid rgb(226, 190, 30);
    background-color: rgb(226, 190, 30);
    border-color: rgb(226, 190, 30);
    border-radius: 10px;
    top: 50%;
    left: 28%;
    animation: fadeIn 3s;

}

@media (min-width: 600px) {

    .img-astronaut {
        animation: slideInRight 4s;
    }
    
}

@media screen and (orientation: portrait) {

    .float-in-animation {
        justify-content: center;
    }

    .img-astronaut {
        height: 65vw;
        animation: fadeIn 2s;
        left: auto;
        top: 49%;
    }

    .company-name {
        font-size: 15vw;
        left: auto;
        top: 35%;
    }

    .enter-button {
        font-size:  10vw;
        left: auto;
        top: 50%;
    
    }
}