.Story {
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(#0c2b49,#195479,#95CDEF,white);
    margin: 0;
    padding: 0;
    color: white
  }
  
  .Story h1 {
      margin-bottom: 2vh;
      margin-top: 2vh;
  }

  
.story-responsive {
    overflow: hidden;
    padding-bottom: 54.25%;
    position: relative;
    height: 0;
  }
  
.story-responsive iframe {
    left: 0;
    top: 0;
    height: 80%;
    width: 100%;
    position: absolute;
  }

  @media (orientation: portrait) {
    .Story {
      height: 200vh;
    }
  }