.animal-quiz{
    text-align: center;
    
}

.animal-quiz-title{
    background-image: url("../../../../kid_images/space_medium_long_rectangle.png");
    background-size: contain;
    
}

.animal-quiz-h1{
    color: white;
}

.animal-quiz-h2{
    color: white;
}

.question-card-animal{
    background-color: gray;
    padding:16px;
    border-radius: 16px;
    color: black;
    /* border: 300px solid black; */
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000;
}

.animal-quiz-ul{
    list-style: none;
}

.animal-quiz-li {
    background-color: darkgray;
    padding: 16px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.animal-quiz-li:hover{
    background-color: rgb(83, 218, 228);
}

.question-text{
    color: black;
    font-size: 24px;
}

.final-results-animal{
    background-color: gray;
    padding:16px;
    border-radius: 16px;
    color: black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    /* border: 3px solid black; */
    box-shadow: 0 4px 1rem -4px #000;
}
.animal-quiz-btn{
    background-color: red;
    border: solid;
    color: black;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
}
.animal-quiz-img{
    height: 200px;
    border-radius: 5px;
}