.animal-section {
    background-color: #0c2b49;
}

.animal-quiz{
    text-align: center;
    background-image: url("../../../../kid_images/space_medium_long_rectangle.png");
    height: 96vh;
    margin: 0;
    padding: 0;
    
}

.question-card-animal{
    background-color: gray;
    padding:8px;
    padding-right: 24px;
    border-radius: 16px;
    color: black;
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000;
}

.animal-quiz-ul{
    list-style: none;
}

.animal-quiz-h1{
    color: white;
}

.animal-quiz-h2{
    color: white;
}

.animal-quiz-li {
    background-color: darkgray;
    padding: 14px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 6px;
}

.animal-quiz-li:hover{
    background-color: rgb(83, 218, 228);
}

.question-text{
    color: black;
    font-size: 24px;
}

.final-results-animal{
    background-color: gray;
    padding:4px;
    padding-right: 24px;
    border-radius: 16px;
    color: black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000;
}

.animal-quiz-btn{
    background-color: red;
    border: solid;
    color: black;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
}
.animal-quiz-img{
    height: 200px;
    border-radius: 5px;
}

@media screen and (max-height: 970px ) {

    .animal-quiz-h1 {
        font-size: 3vh;
    }

    .animal-quiz-h2 {
        font-size: 2vh;
    }

    .animal-quiz-li {
        display: flex;
        height: 5vh;
        justify-content: center;
        align-items: center;
        font-size: 2vh;

    }

    .final-results-animal h1{ 
        font-size: 4vh;
    }
    .final-results-animal h2{ 
       font-size: 2vh;
   }

   .animal-quiz-btn {
       display: flex;
       height: 3vh;
       margin: auto;
       margin-left: auto;
       align-items: center;
       font-size: 2vh;

   }

   }