.root {
    width: 100vw;
    margin: 0;
    padding: 0;
}


.kid-header {
    width: auto;
    height: 20vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.kid-welcome {
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.color-box input {
    width: 30vw;
}

.kid-avatar {
    height: 8vh;
    margin: 0;
    padding: 0;
}

.kid-page-body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.games-button img{
    width: 25vw; 
    margin: 0;
    padding: 0;
}

.quizzes-button img {
    width: 20vw;
    margin: 0;
    padding: 0;
}

.music-button img {
    width: 20vw;
    margin: 0;
    padding: 0;
}

.storytelling-button img {
    width: 20vw;
    margin: 0;
    padding: 0;
}