.root {
    margin: 0;
    padding: 0;
}


.kid-header {

    height: 20vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items:center
}

.kid-welcome {
    font-size: xx-large;
    margin: 0;
    padding: 0;
}
.color-box {
    font-size: 2vh;
}

.color-box input {
    size: 8vh;
}

.kid-avatar {
    height: 8vh;
    margin: 2vh;
    padding: 0;
}
/* .kid-avatar-img {
    height: 8vh;
} */

.kid-page-body {
    margin-right: 2vh;
    margin-left: 0;
    padding: 0;
    display: flex;
    height: 80vh;
    align-items: center;
}

.games-button img{
    height: 30vh;
    margin: 0;
    padding: 0;
}

.quizzes-button img {
    height: 27vh;
    margin: 0;
    padding: 0;
}

.music-button img {
    height: 27vh;
    margin: 0;
    padding: 0;
}

.storytelling-button img {
    height: 27vh;
    margin: 0;
    padding: 0;
}