.quizzes-section {
    background-image: url("../../../kid_images/space_medium_long_rectangle.png");
    margin: 0;
    padding: 0;
}

.quizzes-title {
    color: white;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.quizzes-main {
    height: 70vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 0;
    margin-left: 5vh;
    align-items: center;
}

.quizzes-main img {
    border: solid white 4px;
    border-radius: 10px;
    width: 25vw;
    margin: 0;
    padding: 0;
}

.quizzes-main p {
 color: white;
 font-size: 4vh;

}

@media (min-width: 615px) {
    .quizzes-section {
        height: 100vh;
    }
    
}

 @media (orientation: portrait) {

    .quizzes-main {
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }

    .quizzes-main img {
        width: 35vw;
    } 
    
}

@media (orientation: landscape) and (min-width: 600px) and (max-width: 1785px) {

   /* .quizzes-section {
       height: 120vh;
   } */
    
}


