.color-quiz{
    text-align: center;
        background-image: url("../../../../kid_images/space_medium_long_rectangle.png");
        justify-content: center;
    height: 100vh;
    /*    background-color: #95CDEF ;*/
}

/* section {
    background-color: #195479;
} 
This messes with any section that doesn't have a class! Have to name it something specific!
*/

.question-card-color{
    background: rgb(186,186,186);
    background: linear-gradient( rgba(186,186,186,1) 58%, rgba(255,255,255,1) 100%);
    /*background-color: gray;*/
    padding:16px;
    border-radius: 16px;
    border: #5C94B6 solid 2px;
    color: black;
    /* border: 300px solid black; */
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000;
}

.color-quiz-ul{
    list-style: none;
}

/*.color-quiz-title{*/
/*    background-image: url("../../../../kid_images/space_medium_long_rectangle.png");*/
/*    background-size: contain;*/
/*    background-repeat:no-repeat;*/
/*    height: 100vh;*/
/*    background-color: #95CDEF ;*/
/*}*/

.color-quiz-h1{
    color: white;
}

.color-quiz-h2{
    color: white;
}

.color-quiz-li {
    background-color: darkgray;
    padding: 16px;
    border: 3px solid navy;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
    transition: .5s ease-in-out;
}

.color-quiz-li:hover{
    background-color: #95CDEF;
    box-shadow: 0 4px 1rem -4px #000;
    border: white 1px outset;
}

.question-text{
    color: black;
    font-size: 24px;
}

.final-results-color{

    background: rgb(186,186,186);
    background: linear-gradient(rgba(186,186,186,1) 58%, rgba(255,255,255,1) 100%);
    /*background-color: gray;*/
    padding:16px;
    border-radius: 16px;
    color: black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    /* border: 3px solid black; */
    box-shadow: 0 4px 1rem -4px #000;
}
.color-quiz-btn{
    background-color: red;
    border: solid;
    color: black;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
}