.color-quiz{
    text-align: center;
    
}

.question-card{
    background-color: gray;
    padding:16px;
    border-radius: 16px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30x 60px -12px,
        rgba(0, 0, 0, 0.3) 0px, 18px, 36px, -18px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.color-quiz-ul{
    list-style: none;
}

.color-quiz-li {
    background-color: darkgray;
    padding: 16px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
}
.color-quiz-li:hover{
    background-color: pink;
}

.question-text{
    color: black;
    font-size: 24px;
}

.final-results{
    background-color: gray;
    padding:16px;
    border-radius: 16px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30x 60px -12px,
        rgba(0, 0, 0, 0.3) 0px, 18px, 36px, -18px;
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.color-quiz-btn{
    background-color: red;
    border: none;
    color: black;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
}