.color-section {
    background-color: #0c2b49;
}

.color-quiz{
    text-align: center;
    background-image: url("../../../../kid_images/space_medium_long_rectangle.png");
    height: 96vh;
    margin: 0;
    padding: 0;
    
}

.question-card-color{
    background-color: gray;
    padding:8px;
    padding-right: 24px;
    border-radius: 16px;
    color: black;
    width: 80%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000; 
}

.color-quiz-ul{
    list-style: none;
}


.color-quiz-h1{
    color: white;
}

.color-quiz-h2{
    color: white;
}

.color-quiz-li {
    background-color: darkgray;
    padding: 14px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 6px;
}

.color-quiz-li:hover{
    background-color: rgb(83, 218, 228);
}

.question-text{
    color: black;
    font-size: 24px;
}

.final-results-color{
    background-color: gray;
    padding:4px;
    padding-right: 24px;
    border-radius: 16px;
    color: black;
    width: 50%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 1rem -4px #000;
}

.color-quiz-btn{
    background-color: red;
    border: solid;
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 24px;
}


@media screen and (max-height: 970px ) {

     .color-quiz-h1 {
         font-size: 3vh;
     }

     .color-quiz-h2 {
         font-size: 2vh;
     }

     .color-quiz-li {
         display: flex;
         height: 5vh;
         justify-content: center;
         align-items: center;
         font-size: 2vh;

     }

     .final-results-color h1{ 
         font-size: 4vh;
     }
     .final-results-color h2{ 
        font-size: 2vh;
    }

    .color-quiz-btn {
        display: flex;
        height: 3vh;
        margin: auto;
        margin-left: auto;
        align-items: center;
        font-size: 2vh;

    }
 
    }