* {
    font-family: "Bungee", cursive;
}

/*   custom  background animations*/

.custom-backgound {
    /*https://colorhunt.co/palette/a85cf95534a54b7be56fdfdf*/
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #6FDFDF, #4B7BE5, #5534A5, #A85CF9);

    background-size: 400% 400%;
    animation: background-animation 15s ease infinite;
}
@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}


/* HOME HEADER*/

.logo{
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    /*border: white 1px solid;*/

}

.background-header-image {
    background-image: url("../src/kid_images/space_web_page_length.svg");
}

.home-header-title,
.home-header-title-subtitle,
.home-header-user,
.home-header-values-1,
.home-header-values-2,
.home-header-values-3{
    text-align: center;
}

.home-header-title,
.home-header-title-subtitle {
    color: white;
    text-shadow: #4B7BE5 2px 5px 2px;
}



.home-header-card-values-1,
.home-header-card-values-3{
    margin-top: 10%;
}

.home-header-card-values-2 {
    margin-top: 16%;
    margin-bottom: 10%;
}

.home-header-values-1 {
    border-radius: 5%;
    /*height: 100%;*/
}

.home-header-values-2 {
    border-radius: 5%;
    /*height: 100%;*/
}

.home-header-values-3 {
    border-radius: 5%;
    /*height: 100%;*/
}

.values-backgound {
    /*https://colorhunt.co/palette/f4f9f9ccf2f4a4ebf3aaaaaa*/
    background: linear-gradient(-45deg, #F4F9F9, #CCF2F4, #A4EBF3, #AAAAAA);

    background-size: 400% 400%;
    animation: values-animation 15s ease infinite;
}
@keyframes values-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}







/* HOME ANOUNCEMENTS */

.announce-title {
    text-align: center;
    color: white;
}

.accouncment-backgound {
    /*https://colorhunt.co/palette/e9efc0b4e19783bd754e944f*/
    background: linear-gradient(-45deg, #4E944F, #83BD75, #B4E197, #E9EFC0);

    background-size: 400% 400%;
    animation: accouncment-animation 15s ease infinite;
}
@keyframes accouncment-animation {
    0% {
        background-ground-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}






/* -- Our Technique Section -- */
.tecnique-item,
.techinque-title {
    text-align: center;
}

.techinque-title {
    color: white;
}






/*Testimony*/

.testimony-card {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 250ms ease-in-out;

}
.testimony-card:hover {
    /*border: solid 2px #4E944F;*/
    /*box-shadow: #4E944F 4px 4px 10px;*/
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}

.testimony-body {
    text-align: center;
}

.testimony-backgound {
    /*https://colorhunt.co/palette/f7f7f7ffbc97ff7800ffe300*/
    background: linear-gradient(-45deg, #F7F7F7, #FFBC97, #FF7800, #FFE300);

    background-size: 400% 400%;
    animation: accouncement-animation 15s ease infinite;
}


@keyframes accouncement-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

/* Offer Classes Sections*/

.offer-title {
    text-align: center;
    color: white;
}

.offer-card-items {
    margin-top: 5%;
    margin-bottom: 5%;

}

/*.offer-container {*/
/*    padding-left: 2%;*/
/*    padding-right: 2;*/
/*}*/

.offer-backgound {
    /*https://colorhunt.co/palette/f7f7f7ffbc97ff7800ffe300*/
    background: linear-gradient(-45deg, #F6E7D8, #F68989, #C65D7B, #874356);

    background-size: 400% 400%;
    animation: offer-animation 15s ease infinite;
}


@keyframes offer-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}











/* EXPERIMENTAL STUFF*/

/* FOR GENERAL ELEMENT OF NAV */
.background-home {
    background-color: #151515;
}

.background-credentials {
    background-color: #151515;
}

.background-activities {
    background-color: #151515;
}
.background-events {
    background-color: #151515;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 0;
}



/*HOME LINK*/

.home-link {
    color: #53d9d1;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
    line-height: 1em;
}

.home-link:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.home-link::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #53d9d1;
    clip-path: circle(0% at 50% calc(50%));
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.home-link:hover::before {
    clip-path: circle(100% at 50% 50%);
}

.home-link::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #151515;

    clip-path: polygon(
            40% 0%,
            60% 0%,
            60% 0%,
            40% 0%,
            40% 100%,
            60% 100%,
            60% 100%,
            40% 100%
    );

    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.home-link:hover::after {

    clip-path: polygon(
            40% 10%,
            60% 10%,
            60% 35%,
            40% 35%,
            40% 90%,
            60% 90%,
            60% 65%,
            40% 65%
    );
}

/*CREDENTIALS LINK*/

.credentials-link {
    color: #f27b9b;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.credentials-link:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.credentials-link::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    clip-path: polygon(
            0% -20%,
            100% -30%,
            100% -10%,
            0% 0%,
            0% 130%,
            100% 120%,
            100% 100%,
            0% 110%
    );
    background-color: #f27b9b;

    transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.credentials-link:hover::before {
    clip-path: polygon(
            0% 10%,
            100% 0%,
            100% 20%,
            0% 30%,
            0% 100%,
            100% 90%,
            100% 70%,
            0% 80%
    );
}

.credentials-link::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 5ch;
    height: 5ch;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) rotate(0deg) scale(0);
    transition: transform 1s ease;

    background-color: #f27b9b;
}

.credentials-link:hover::after {
    transform: translate(50%, -50%) rotate(135deg) scale(1);
}


/**/

.activites-link {
    color: #eb7132;
}

.activites-link::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0, -50%) scaleY(0);
    transition: transform 1s ease;
    mix-blend-mode: difference;

    clip-path: polygon(
            20% 60%,
            100% 60%,
            100% 40%,
            20% 40%,
            20% 0%,
            60% 0%,
            60% 20%,
            20% 20%
    );

    background-color: #eb7132;
}

.activites-link:hover::after {
    transform: translate(0, 0%) scaleY(1);
}

.activites-link::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 100%;
    bottom: 0%;
    right: 0%;
    transform: translate(0, 50%) scaleY(0);
    transition: transform 1s ease;
    mix-blend-mode: difference;

    clip-path: polygon(
            80% 40%,
            0% 40%,
            0% 60%,
            80% 60%,
            80% 100%,
            40% 100%,
            40% 80%,
            80% 80%
    );

    background-color: #eb7132;
}

.activites-link:hover::before {
    transform: translate(0%, 0%) scaleY(1);
}

/* EVENT SECTION */

/*1) square*/
/*2) smaller square*/

/*.link-events {*/
/*    color: #53d9d1;*/
/*    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);*/
/*    line-height: 1em;*/
/*}*/

/*.link-events:hover {*/
/*    color: #111;*/
/*    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);*/
/*}*/

/*.link-events::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background-color: #53d9d1;*/
/*    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);*/
/*    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);*/
/*}*/

/*.link-events:hover::before {*/
/*    clip-path: circle(100% at 50% 50%);*/
/*}*/

/*.link-events::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background-color: #151515;*/

/*    !*clip-path: polygon(*!*/
/*    !*        50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%*!*/
/*    !*);*!*/

/*    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);*/
/*}*/

/*.link-events:hover::after {*/


/*    clip-path: polygon(*/
/*            40% 0%,*/
/*            60% 0%,*/
/*            60% 0%,*/
/*            40% 0%,*/
/*            40% 100%,*/
/*            60% 100%,*/
/*            60% 100%,*/
/*            40% 100%*/
/*    );*/
/*}*/



/*!*  GENERAL ANIMATIONS   *!*/

/*.fade-in-animation {*/
/*    animation: fade-in 1s ease-in-out;*/
/*}*/

/*@keyframes fade-in {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    25% {*/
/*        opacity: 0.25;*/
/*    }*/

/*    50% {*/
/*        opacity: .50;*/
/*    }*/
/*    75% {*/
/*        opacity: .75;*/
/*    }*/

/*    100% {*/
/*        opacity: 1;*/
/*    }*/

/*}*/



/*HOME LINK*/

.link-events {
    color: #53d9d1;
    transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
    line-height: 1em;
}

.link-events:hover {
    color: #111;
    transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-events::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #53d9d1;
    clip-path: polygon(
            50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-events:hover::before {
    clip-path: circle(100% at 50% 50%);
}

.link-events::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #151515;

    clip-path: polygon(
            50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);


    transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-events:hover::after {

    clip-path: polygon(
            50% 10%, 61% 45%, 98% 45%, 68% 67%, 79% 99%, 50% 80%, 21% 99%, 32% 67%, 2% 45%, 39% 45%);
}





